* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: #e0e8ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.card-image {
    height: 180px;
    overflow: hidden;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.card-content {
    padding: 25px;
}

.card-content h2 {
    margin-bottom: 15px;
    color: #1f2f56;
}

.description {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 20px;
    line-height: 1.5;
}

.plan-box {
    background: #f5f7ff;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.plan-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 22px;
}

.plan-info h4 {
    font-size: 14px;
    color: #1f2f56;
}

.plan-info p {
    font-size: 13px;
    color: gray;
}

.change {
    font-size: 13px;
    color: #4a3aff;
    text-decoration: underline;
    font-weight: bold;
}

.payment-btn {
    width: 100%;
    padding: 12px;
    background: #4a3aff;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 0 10px 20px rgba(74, 58, 255, 0.3);
}

.payment-btn:hover {
    background: #3b2fcc;
}

.cancel {
    display: block;
    color: gray;
    font-size: 14px;
    text-decoration: none;
}
