* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

body {
  background-color: #f3e5d8;
  padding: 40px 0;
}

.page {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #fff;
  width: 650px;
  padding: 30px;
  border-radius: 20px;
}

/* image placeholder */
.image-box {
  width: 100%;
  height: 260px;
  background-color: #ddd;
  border-radius: 15px;
  margin-bottom: 25px;
  overflow: hidden;
}
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

/* titles */
h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

h2 {
  color: rgb(84, 53, 53);
  margin-bottom: 10px;
}

h3 {
  color: #7b284f;
  margin-bottom: 10px;
}

/* text */
.desc {
  color: #555;
  margin-bottom: 25px;
  line-height: 1.6;
}

/* preparation box */
.prep {
  background-color: #fff5fa;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
}

.prep ul {
  padding-left: 20px;
}

.prep li {
  margin-bottom: 8px;
}

/* lists */
ul, ol {
  padding-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
  line-height: 1.6;
}
ul li::marker,
ol li::marker {
  color: rgb(84, 53, 53);
  font-weight: bold;
}

/* hr */
hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 25px 0;
}

/* nutrition */
.nutrition-text {
  margin-bottom: 15px;
  color: #555;
}

.nutrition div {
  display: grid;
  grid-template-columns: 150px auto;
  gap: 200px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.last {
  color:  rgb(84, 53, 53);
  font-weight: bold;
}
